---
title: "Tech lead — Generalist Software Engineer "
layout: default
date: 2022-10-17T03:02:20+00:00
---

<div class="container split-pane flex-center">
    <div class="split-50">
        <h1 class="main-page-title">Generalist <i>tech lead</i></h1>
        <h2 class="main-page-tagline">👋 I'm Ludo, an enthusiastic tech lead and generalist software engineer who can
            find technological answers to challenging business issues.</h2>
    </div>
    <div class="split-50 right">
        <form id="contact_form" class="contact-form" action="https://getform.io/f/0b896fab-258e-4503-a98a-d61551ca30c1"
            method="POST">
            <h2 class="form-title">Wanna work together?</h2>
            <p>
                <input required=true name="lastname" type="text" class="input-text" placeholder="What's your name?"
                    required />
            </p>
            <p>
                <input name="email" type="email" class="input-text" placeholder="How can I contact you? (email)"
                    required />
            </p>
            <p>
                <textarea name="request" class="input-text long-text" placeholder="Your request" required></textarea>
            </p>
            <button class="retro-button" type="submit">Let's chat!</button>
        </form>
    </div>
</div>

<div class="black-plane text-white">
    <div class="container green-dot-rounded">
        <h2>Tech skills</h2>
        <p>I feel comfortable using these technologies:</p>
        <div class="split-pane center flex-start">
            <div class="split-33 ">
                <h3>Languages</h3>
                <div class="tooltip-container">
                    <img class="logo" src="/assets/images/logos/cplusplus.png" title="C++" />
                    <span class="tooltiptext">C++</span>
                </div>
                <div class="tooltip-container">
                    <img class="logo" src="/assets/images/logos/python.png" title="python" />
                    <span class="tooltiptext">python</span>
                </div>
                <div class="tooltip-container">
                    <img class="logo" src="/assets/images/logos/golang.png" title="golang" />
                    <span class="tooltiptext">golang</span>
                </div>
                <div class="tooltip-container">
                    <img class="logo" src="/assets/images/logos/js.png" title="javascript" />
                    <span class="tooltiptext">javascript</span>
                </div>
            </div>
            <div class="split-33">
                <h3>Frameworks</h3>
                <div class="tooltip-container">
                    <img class="logo" src="/assets/images/logos/react.png" title="React" />
                    <span class="tooltiptext">React</span>
                </div>
                <div class="tooltip-container">
                    <img class="logo" src="/assets/images/logos/flutter.png" title="Flutter" />
                    <span class="tooltiptext">Flutter</span>
                </div>
                <div class="tooltip-container">
                    <img class="logo" src="/assets/images/logos/juce.png" title="Juce" />
                    <span class="tooltiptext">Juce</span>
                </div>
                <div class="tooltip-container">
                    <img class="logo" src="/assets/images/logos/odoo.png" title="Odoo" />
                    <span class="tooltiptext">Odoo</span>
                </div>
                <div class="tooltip-container">
                    <img class="logo" src="/assets/images/logos/django.png" title="Django" />
                    <span class="tooltiptext">Django</span>
                </div>
            </div>
            <div class="split-33">
                <h3>Protocols</h3>
                <div class="tooltip-container">
                    <img class="logo" src="/assets/images/logos/restapi.png" title="restapi" />
                    <span class="tooltiptext">restapi</span>
                </div>
                <div class="tooltip-container">
                    <img class="logo" src="/assets/images/logos/grpc.png" title="grpc" />
                    <span class="tooltiptext">grpc</span>
                </div>
                <div class="tooltip-container">
                    <img class="logo" src="/assets/images/logos/graphql.png" title="graphql" />
                    <span class="tooltiptext">graphql</span>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="transparent-plane text-black">
    <div class="container">
        <h2 class="main-page-h2">Services</h2>
        <p class="p-main-page">These are typical circumstances. I can step in and assist you in finding a solution:</p>
        <div class="split-pane flex-start center justify-around">
            <div class="split-50 split-center">
                <div class="service-tile">
                    <h3 class="serive-tile-h3">Turning ideas into solutions</h3>
                    <p class="p-main-page">Implementation projects:
                    <ul class="p-main-page">
                        <li>You want to kick off a project?</li>
                        <li>You need some extra power for your existing project?</li>
                    </ul>
                </div>
            </div>
            <div class="split-50 split-center">
                <div class="service-tile  ">
                    <h3 class="serive-tile-h3">Advisary / Coaching</h3>
                    <p class="p-main-page">Your tech department suffers from:</p>
                    <ul class="p-main-page">
                        <li>
                            lack of feedback
                        </li>
                        <li>
                            velocity issues
                        </li>
                        <li>
                            poor common standards
                        </li>
                        <li>
                            ...
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br />
        <br />
        <a class="retro-button center split-center" href="#contact_form">Let's talk!</a>
    </div>
</div>

<!-- 
<div class="background-orange-skipr">
    <div class="container pane-padding">
        <h2 class="main-page-h2">Latest Posts</h2>
        
        {% assign posts = site.posts %}
        {% assign entries_layout = page.entries_layout | default: 'list' %}
        <div class="split-pane">
            {% for post in posts limit:2 %}
            {% if post.id %}
        {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
        {% else %}
        {% assign title = post.title %}
        {% endif %}
            <div class="split-50">
                <div class="service-tile retro-tile-portrait">
                    <img class="post-thumbnail-portrait"
                        src="{{'' | prepend: site.baseurl | append : post.header.overlay_image}}"></img>
                    <h3 class="serive-tile-h3" itemprop="headline">
                        {% if post.link %}
                        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}"
                            rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span
                                class="sr-only">Permalink</span></a>
                        {% else %}
                        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
                        {% endif %}
                    </h2>
                    {% include page__meta.html type=include.type %}
                    {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt |
                        markdownify | strip_html | truncate: 120 }}</p>{% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <p class="p-main-page right"><a href="/blog/">All posts —> </a></p>

    </div>


</div> -->